.t-pdp__collection {
    margin-bottom: $unit;
    padding-top: $unit;

    box-shadow: inset 0 2px 0 0 $neutral-70;

    .c-product-tile {
        float: left;

        width: 50%;
        margin-top: $unit;
    }

    .c-product-tile:nth-child(odd) {
        padding-right: $sub-unit+3;
    }

    .c-product-tile:nth-child(even) {
        padding-left: $sub-unit+3;
        .c-expand-svg {
            margin-right: -9px;
        }
    }

    .c-product-tile__title {
        padding-left: 0;
    }

    .c-product-tile__description  .c-price {
        padding-bottom: $sub-unit;
        padding-left: 0;
    }

    .c-product-tile-content {
        overflow: hidden;
        margin-right: $unit;
        margin-left: $unit;
    }

    .c-product-tile {
        position: relative;
    }

    .c-expand-svg {
        position: absolute;
        right: $sub-unit*3;
        right: 15px;
        bottom: 78px;

        width: 38px;
        height: 38px;
        padding: 11px;

        border-radius: 38px;
        background: $brand-color;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20);

        color: $white;
    }

    .c-product-link {
        position: inherit;
    }
}
