// Shipping Address Page
// ===

.t-shipping-address-wrapper {


    .c-billing-title {
        margin: 0 0 $unit*2 0;
        padding: 0 $unit*3;

        color: $neutral-10;
        font-family: $font-family;
        font-weight: normal;
        font-size: $largest-font-size;
        line-height: $unit*6;
        letter-spacing: -0.1px;
    }

    h3.c-heading:not(.c-billing-title) {
        margin: 0 0 $unit*6 0;
        padding: $unit*3 $unit*3 0;
        border-top: 1px solid $neutral-40;

        color: $neutral-10;
        font-family: $font-family;
        font-weight: normal;
        font-size: $large-font-size;
        line-height: $unit*6;
        letter-spacing: -0.11px;
    }

    .c-billing-text {
        margin: 0 0 $unit*3 0;
        padding: 0 $unit*3;

        color: $neutral-10;
        font-family: $font-family;
        font-size: $font-size;
        line-height: $unit*5;
        letter-spacing: 0;
    }

    .c-box-row {
        margin: 0 0 $unit*4 0;
        padding: 0 $unit*3;

        .c-middle-name {
            display: none;
        }
    }

    .js-enable-hidden-fields {
        display: block;
        margin: 0 0 $unit*6 0;
        padding: 0 $unit*3;
        font-family: $font-family;
        font-size: $font-size;
        color: $brand-color;
        line-height: $line-height;
        letter-spacing: 0;
        cursor: pointer;

        svg {
            width: 11px;
            height: 11px;
            fill: $brand-color;
            margin-left: $unit*2;
        }
    }

    .c-box__label {
        display: block;
        margin: 0 0 $unit*2 0;

        color: $neutral-10;
        font-family: $lato_bold;
        font-size: $font-size;
        line-height: $line-height;
        letter-spacing: 0;
    }

    label[for='bill_mibox'] {
        display: none;
    }


    .c-arrange {
        display: block;
    }

    .c-bellows {
        p {
            padding: 0 $unit*3 $unit*3;
        }
    }

    .c-shipping-promotional-emails {
        padding: $unit * 2 $unit * 3 $unit * 4;

        input {
            float: left;

            margin-right: $unit*3;
        }

        label {
            display: block;
            margin-top: 0;
            margin-left: $unit*9;
            font-family: $font-family;
        }
    }

    [id='gwt_shippingOption_panel'] {
        padding: 0 $unit*3;

        .c-shipping-option-panel {
            margin: 0 0 $unit*6 0;

            &:last-child {
                margin: 0 0 $unit*7 0;
            }

            label {
                font-family: $font-family;
            }
        }

        [type="radio"] {
            float: left;

            margin-right: $unit*3;
        }

        label {
            display: block;
            margin-left: $unit*9;
        }
    }

    .c--4 {
        padding: 0 $unit*3;

        & + p {
            margin-bottom: $unit*4;
            padding: 0 $unit*3;
        }
    }

    .bellows__content-wrapper {
        padding-top: $space-large * 2;
    }

    #gwt_billshipaddr_btn {
        // margin: $unit*6 0 0;
        padding: $unit*6 $unit*3 $unit*6;
        // border-top: 1px solid $neutral-40;
    }

    #gwt_password_panel {
        padding-bottom: $unit*2;

    }
}

.chrome {
    select{
        background-color: $white !important;
    }
}
