// Callout
// ===

.c-callout.c-special-message {
    display: inline-block;
    padding: 1px 2px 0;
    border: 1px solid;

    font-size: 9px;
    line-height: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: middle;
}
