@font-face {
    font-family: 'lato-black';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-black-italic';
    font-style: italic;
    font-weight: normal;

    src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-bold';
    font-style: normal;
    font-weight: bold;

    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-bold-italic';
    font-style: italic;
    font-weight: normal;

    src: url('../fonts/lato-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-hairline';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/lato-Hairline.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-hairline-italic';
    font-style: italic;
    font-weight: normal;

    src: url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-italic';
    font-style: italic;
    font-weight: normal;

    src: url('../fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-light';
    font-style: normal;
    font-weight: lighter;

    src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-light-italic';
    font-style: italic;
    font-weight: lighter;

    src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'lato-regular';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
