// Add To Cart
// ===
// 1 overiding desktop property

.c-added-to-cart-pinny__body {
    .satisfactionGuaranteeMsg {
        display: none;
    }

    .nonvip {
        float: left;

        width: 75%;

        font-size: $smaller-font-size;
    }

    .addToCartVIPMsgCont {
        overflow: hidden;
        padding: $space-xlarge 0;
    }

    [id="addToCartVIPMsg"] {
        overflow: hidden;
        padding: 7px $unit*2 $unit*2 $unit-10;
        border-bottom: 1px solid $neutral-230;
    }

    [id="continueShoppingLink"] {
        width: 100%;

        text-align: center;
    }

    .addToCartVIPMsgCont img {
        height: 28px;

        transform: rotate(-10deg);
    }

    [id="viewCartLink"] div img {
        display: none;
    }

    [id="viewCartLink"] {
        overflow: hidden;
        height: 40px;
        margin: 0 $unit-10 0 $unit-10;

        border-radius: 2px;
        background: linear-gradient(to bottom, #52b21c, #4aa914);

        line-height: 40px;

        a:after {
            content: 'View Cart';
        }
    }

    [id="viewCartLink"] div {
        float: none !important; //1
    }

    [id="viewCartLink"] div a {
        display: block;

        color: $white;
        text-align: center;
    }

    [id="continueShoppingLink"] .prod_body {
        display: block;
        margin-top: $space-large;

        text-decoration: underline;
    }

    .c-added-to-cart-msg {
        position: relative;

        display: flex;
        align-items: center;
        height: 45px;
        padding: 0 0 0 $unit*10;

        background-color: $neutral-410;
        background-image: url('../img/greatchoiceICon.png');
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-size: 25px 25px;

        font-size: $smaller-font-size;

        b {
            font-size: $font-size-large-14;
        }
    }
}
