// Multiple Addresses in Checkout
// ===

.t-checkout-multi-address-wrapper {
    margin: 0 $unit*3;

    .c-multi-address-title {
        margin: $unit*2 0;

        color: $neutral-10;
        font-size: $largest-font-size;
        line-height: 26px;
        letter-spacing: -0.1px;
        text-transform: capitalize;
    }

    .c--secondary {
        min-height: 40px;
        padding-top: $space-large;
        padding-bottom: $space-large;
    }

    .inst-copy {
        margin-bottom: $unit*3;
        padding-bottom: $unit;
        border-bottom: 1px solid rgba(187, 187, 187, 0.43);

        p {
            margin-bottom: $unit*5;

            color: $neutral-10;
            font-size: $font-size;
            line-height: $line-height;
        }

        br {
            display: none;
        }
    }

    .js-cta {
        margin-bottom: $unit*6;
    }
}

.c-multi-address__list {
    > li {
        margin-bottom: $unit*3;
        padding-bottom: $unit*6;
        border-bottom: 1px solid rgba(187, 187, 187, 0.43);

        &:last-child {
            margin-bottom: 0;
            border: none;
        }
    }

    .c-multi-address__list-title {
        margin-bottom: $unit*2;

        color: $neutral-10;
        font-size: $font-size;
        line-height: $line-height;
    }

    .c-multi-address-product-options {
        margin-bottom: $unit*4;

        color: $neutral-20;
        font-size: $small-font-size;
        line-height: 18px;

        > div:before {
            display: none;
        }
    }

    .c-multi-address__select-text {
        margin-bottom: $unit*2;

        color: $neutral-10;
        font-family: $lato_bold;
        font-size: $font-size;
        line-height: $line-height;
        text-transform: capitalize;
    }

    .c-multi-address__select-input {
        margin-bottom: $unit*3;

        select {
            padding-right: $space-large * 7;

            text-transform: capitalize;
        }
    }
}

.c-multi-address__add-edit {
    display: flex;
    justify-content: space-between;

    li {
        width: 100%;

        text-transform: capitalize;

        &:last-child {
            margin-left: $unit*3;
        }
    }

    // a:active,
    // a:focus {
    //     color: $black;
    // }
}


div[id='editAddressModal'],
div[id='addAddressModal'] {
    .js-close-modal {
        display: block;
        width: 84%;
        margin: 0 auto;
        margin-top: -$unit;
        border: 0;

        background: transparent;

        color: $black;
        font-weight: bold;
    }

    .pinny__header {
        margin: 0 0 $unit*4;
        padding: 0;
        border-top: 1px solid $neutral-40;
        border-bottom: 1px solid $neutral-40;

        background: $white;
    }

    .pinny__title {
        min-height: 0;
        padding: $unit*3;

        color: $neutral-10;
        font-weight: normal;
        font-size: $larger-font-size;
        line-height: $unit*6;
        text-transform: capitalize;
    }

    .c-sheet__header-close {
        min-height: 50px;
        margin-right: $unit;

        .c-icon {
            width: 17px;
            height: 17px;
            padding: 0;
            border: none;

            border-radius: 0;
            background: none;
        }
    }

    .pinny__content {
        padding: 0 $unit*3;
    }

    .c-box-row {
        margin-bottom: $unit*4;
    }

    .c-arrange {
        display: block;
    }

    .c-box__label {
        margin: 0 0 $unit*2 0;

        color: $neutral-10;
        font-family: $lato_bold;
        font-size: $font-size;
        line-height: $line-height;
    }

    .addrStreet1Spot input + input {
        margin-top: $unit*2;
    }

    .c-box-container {
        margin-bottom: $unit*6;
    }
}

#perz_label {
    display: inline-block;
}

.t-checkout-multi-address {
    [id='editAddressModal'],
    [id='addAddressModal'] {
        .js-close-modal {
            display: none;
        }

        .okCancelPanel {
            margin-bottom: $unit*6;
        }
    }

    [id="addAddressModal"] {
        overflow: hidden !important;
        width: 0;
        height: 0;
    }
}
