.js-gift-with-purchase-product-detail-pinny {
    .c-sheet__title {
        color: $neutral-10;
    }

    .c-sheet__body {
        padding: 0;
    }

    .js-gift-with-purchase-product-detail-pinny__body {
        padding: $space-xlarge;
    }

    font {
        display: block;
        margin-top: $unit*2;
    }

    b {
        display: block;
        margin-bottom: $unit*2;
    }

    li {
        margin-bottom: $unit;
        margin-left: $unit*6;
        list-style-type: disc;
    }
}
