// Review Component
// ===
//
// 1. TRAV-421: force super long words to wrap if needed

.c-review {
    .c-review-details {
        position: relative;

        .c-review__basement {
            position: absolute; // Relatively positioned to c-review-details
            top: 2px;

            color: $neutral-60;
            font-size: $smaller-font-size;
        }
    }

    .c-review__roof {
        color: $black;
        font-size: $small-font-size;
    }
}

.c-review:first-of-type {
    padding-top: 0;
}

.c-review__product-heading {
    position: relative;
}

.c-review__date-bvrqa {
    display: block;
}

.c-review__reviewer-info {
    margin-left: $space-large * 4;
}

.c-review__reviewer-info-block {
    height: 26px; // Fix if break into 2 lines
    margin-bottom: 4px;
    padding: 6px 0;

    font-family: $lato_bold;
    font-size: $smaller-font-size;
    line-height: 14px;
}

.c-review__rating-container {
    display: flex;
    align-items: center;
    margin-bottom: $unit;
}

.c-review__rating-title {
    margin-left: $space-large;
}

.c-review__main {
    line-height: $unit * 5;
    word-wrap: break-word; // 1
}
