// Checkout Steps
// ===
//
// sass-lint:disable nesting-depth

$checkout-step__size: 31px;
$checkout-step__z-1: $z2-depth;
$checkout-step__z-2: $z2-depth+1;
$checkout-step__z-3: $z2-depth+2;

// Root
// ---
//
// 1. Divider

.c-checkout-steps {
    display: flex;
    padding: 0 $unit*9;
}


// Item
// ---
//
// 1. Position items on top of divier and success check
// 2. Center Icon middle

.c-checkout-steps__item {
    position: relative; // 1
    z-index: $checkout-step__z-2;

    flex: 1 1 auto;
    align-self: center;
    margin-right: $unit*2;

    // Complete
    // ---
    &.c--complete {
        border-color: $neutral-70;

        &::before {
            background-color: $brand-color;
        }
    }


    // Active
    // ---
    &.c--active,
    &.c--complete {
        &.c--shipping {
            .c-checkout-steps__circle {
                background-image: url('../icons/svg/VanIconBlue.svg');
            }
        }

        &.c--gift {
            .c-checkout-steps__circle {
                background-image: url('../icons/svg/giftIconBlue.svg');
            }
        }

        &.c--payment {
            .c-checkout-steps__circle {
                background-image: url('../icons/svg/CardIconBlue.svg');
            }
        }

        &.c--review {
            .c-checkout-steps__circle {
                background-image: url('../icons/svg/TickIconBlue.svg');
            }
        }
    }


    // Steps
    // ---

    &.c--shipping {
        .c-checkout-steps__circle {
            width: 32px;
            height: 16px;

            background-image: url('../icons/svg/VanIconGrey.svg');
        }
    }

    &.c--gift {
        .c-checkout-steps__circle {
            width: 26px;
            height: 19px;

            background-image: url('../icons/svg/GiftIcon.svg');
        }
    }

    &.c--payment {
        .c-checkout-steps__circle {
            width: 31px;
            height: 15px;

            background-image: url('../icons/svg/cardIconGrey.svg');
        }
    }

    &.c--review {
        .c-checkout-steps__circle {
            width: 21px;
            height: 15px;

            background-image: url('../icons/svg/TickIconGrey.svg');
        }
    }

    &:last-child {
        flex: 0 0 auto;
        margin-right: 0;
    }

    &::before {
        content: ''; // 1

        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: $checkout-step__z-1;

        height: 2px;

        background-color: $neutral-160;
    }

    .c-icon-svg {
        fill: $neutral-40;
    }
}


// Circle
// ---
//
// 1. Increase tap size

.c-checkout-steps__circle {
    position: relative;
    z-index: $checkout-step__z-2;

    display: block;

    background-color: $white;
    background-repeat: no-repeat;

    text-align: center;
}

// sass-lint:disable no-qualifying-elements
a.c-checkout-steps__circle {
    &::after {
        // 1
        content: '';

        position: absolute;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
    }
}


// Success Check
// ---
//
// 1. Position check in circle
.c-checkout-steps__check {
    position: absolute;
    top: -17px;
    left: -35px;

    width: 82px;

    color: $neutral-50;
    font-weight: 700;
    font-size: $smallest-font-size;
    text-align: center;
    text-transform: uppercase;

    .c-icon-svg {
        width: 18px;
        height: 18px;
        margin-top: -8px; // 1
        margin-left: -3px; // 1

        fill: $white;
    }
}
