// SVG Icon Component
// ===

.c-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    color: inherit;

    fill: currentColor;
}

// Modifier: size
// ---

.c-icon.c--small {
    width: 18px;
    height: 18px;
}


.c-icon.c--large {
    width: 32px;
    height: 32px;
}


.c-icon.c--x-large {
    width: 48px;
    height: 48px;
}


// Modifier: colours
// ---


.c-icon.c--light-gray {
    fill: $neutral-60;
}

.c-icon.c--dark-gray {
    fill: $neutral-60;
}

.c-icon.c--error {
    fill: $error-color;
}

.c-icon.c--success {
    fill: $success-color;
}

.c-icon.c--accent {
    fill: $accent-color;
}

.c-icon.c--bottom-right {
    position: absolute;
    right: $space-large;
    bottom: $space-large;
}
