.bvrating {
    width: 80px; height: 16px;

    background: url('../img/stars.png') repeat-x;
}
.bvrating .overlay {
    background: url('../img/stars.png') repeat-x;
}
.bvrating {
    background-position: 0 -16px;
}
.bvrating .overlay {
    height: 16px;
}

.bvrating .overlay.filled_00 {
    width: 0;
}
.bvrating .overlay.filled_01 {
    width: 4px;
}
.bvrating .overlay.filled_02 {
    width: 5px;
}
.bvrating .overlay.filled_03 {
    width: 6px;
}
.bvrating .overlay.filled_04 {
    width: 7px;
}
.bvrating .overlay.filled_05 {
    width: 8px;
}
.bvrating .overlay.filled_06 {
    width: 9px;
}
.bvrating .overlay.filled_07 {
    width: 10px;
}
.bvrating .overlay.filled_08 {
    width: 11px;
}
.bvrating .overlay.filled_09 {
    width: 13px;
}
.bvrating .overlay.filled_10 {
    width: 16px;
}

.bvrating .overlay.filled_11 {
    width: 20px;
}
.bvrating .overlay.filled_12 {
    width: 21px;
}
.bvrating .overlay.filled_13 {
    width: 22px;
}
.bvrating .overlay.filled_14 {
    width: 23px;
}
.bvrating .overlay.filled_15 {
    width: 24px;
}
.bvrating .overlay.filled_16 {
    width: 25px;
}
.bvrating .overlay.filled_17 {
    width: 26px;
}
.bvrating .overlay.filled_18 {
    width: 27px;
}
.bvrating .overlay.filled_19 {
    width: 29px;
}
.bvrating .overlay.filled_20 {
    width: 32px;
}

.bvrating .overlay.filled_21 {
    width: 36px;
}
.bvrating .overlay.filled_22 {
    width: 37px;
}
.bvrating .overlay.filled_23 {
    width: 38px;
}
.bvrating .overlay.filled_24 {
    width: 39px;
}
.bvrating .overlay.filled_25 {
    width: 40px;
}
.bvrating .overlay.filled_26 {
    width: 41px;
}
.bvrating .overlay.filled_27 {
    width: 42px;
}
.bvrating .overlay.filled_28 {
    width: 43px;
}
.bvrating .overlay.filled_29 {
    width: 45px;
}
.bvrating .overlay.filled_30 {
    width: 48px;
}

.bvrating .overlay.filled_31 {
    width: 52px;
}
.bvrating .overlay.filled_32 {
    width: 53px;
}
.bvrating .overlay.filled_33 {
    width: 54px;
}
.bvrating .overlay.filled_34 {
    width: 55px;
}
.bvrating .overlay.filled_35 {
    width: 56px;
}
.bvrating .overlay.filled_36 {
    width: 57px;
}
.bvrating .overlay.filled_37 {
    width: 58px;
}
.bvrating .overlay.filled_38 {
    width: 59px;
}
.bvrating .overlay.filled_39 {
    width: 61px;
}
.bvrating .overlay.filled_40 {
    width: 64px;
}

.bvrating .overlay.filled_41 {
    width: 68px;
}
.bvrating .overlay.filled_42 {
    width: 69px;
}
.bvrating .overlay.filled_43 {
    width: 70px;
}
.bvrating .overlay.filled_44 {
    width: 71px;
}
.bvrating .overlay.filled_45 {
    width: 72px;
}
.bvrating .overlay.filled_46 {
    width: 73px;
}
.bvrating .overlay.filled_47 {
    width: 74px;
}
.bvrating .overlay.filled_48 {
    width: 75px;
}
.bvrating .overlay.filled_49 {
    width: 77px;
}
.bvrating .overlay.filled_50 {
    width: 80px;
}
