// Bleed: All
// ---

.u-bleed {
    margin-right: -$unit*2 !important;
    margin-left: -$unit*2 !important;
}

.u-bleed-lg {
    margin-right: -$unit*3 !important;
    margin-left: -$unit*3 !important;
}


// Bleed: Start
// ---

.u-bleed-start {
    margin-left: -$unit*2 !important;
}

.u-bleed-start-lg {
    margin-left: -$unit*3 !important;
}


// Bleed: End
// ---

.u-bleed-end {
    margin-right: -$unit*2 !important;
}

.u-bleed-end-lg {
    margin-right: -$unit*3 !important;
}


// Shift
// ---
//
// Shift 1 unit any direction. Useful for icon buttons, which often hang one
// unit out towards the margins.

.u-shift-end {
    margin-right: -$unit !important;
}

.u-shift-start {
    margin-left: -$unit !important;
}

.u-shift-top {
    margin-top: -$unit !important;
}

.u-shift-bottom {
    margin-bottom: -$unit !important;
}


// Overflow
// ---

.u-overflow-hidden {
    overflow: hidden;
}

.u-overflow,
.u-overflow-scroll {
    overflow: scroll;
}

.u-overflow-x,
.u-overflow-scroll-x {
    overflow-x: scroll;
}

.u-overflow-y,
.u-overflow-scroll-y {
    overflow-y: scroll;
}
