// Vertical Margins
//
// Granular control over vertical spacing independent of a component.
//
// Suffixes:
// 0:  none
// sm: small
// md: medium
// lg: large

.u-margin-all {
    margin: $unit * 3 !important;
}

.u-margin-top-0 {
    margin-top: 0 !important;
}

.u-margin-top-sm {
    margin-top: $unit !important;
}

.u-margin-top-md {
    margin-top: $unit * 2 !important;
}

.u-margin-top {
    margin-top: $unit * 3 !important;
}

.u-margin-top-lg {
    margin-top: $unit * 4 !important;
}

.u-margin-top-xlg {
    margin-top: $unit * 4 !important;
}

.u-margin-top-xxlg {
    margin-top: $unit * 6 !important;
}

.u-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.u-margin-bottom-sm {
    margin-bottom: $unit !important;
}

.u-margin-bottom-md {
    margin-bottom: $unit * 2 !important;
}

.u-margin-bottom {
    margin-bottom: $unit * 3 !important;
}

.u-margin-bottom-lg {
    margin-bottom: $unit * 4 !important;
}


// Horizontal Margins
//
// Granular control over horizontal spacing independent of a component.
//
// `start` and `end` are writing-direction independent forms for `left` and
// `right`. For right-to-left localizations, create an alternate version of this
// stylesheet with the property directions reversed, e.g.
//
// .u-margin-start-0  {
//     margin-right: 0 !important;
// }
//
// Suffixes:
//
// 0:  none
// sm: small
// md: medium
// lg: large

.u-margin-start-0 {
    margin-left: 0 !important;
}

.u-margin-start-sm {
    margin-left: $unit !important;
}

.u-margin-start-md {
    margin-left: $unit * 2 !important;
}

.u-margin-start-lg {
    margin-left: $unit * 3 !important;
}

.u-margin-end-0 {
    margin-right: 0 !important;
}

.u-margin-end-sm {
    margin-right: $unit !important;
}

.u-margin-end-md {
    margin-right: $unit * 2 !important;
}

.u-margin-end-lg {
    margin-right: $unit * 3 !important;
}

// Combos?

.u-margin-left-right-extra-lg {
    margin-right: $unit * 3 !important;
    margin-left: $unit * 3 !important;
}

.u-margin-top-bottom-extra-lg {
    margin-top: $unit * 5 !important;
    margin-bottom: $unit * 3 !important;
}

.u-margin-top-extra-lg {
    margin-top: $space-large * 3 !important;
}

.u-margin-bottom-extra-lg {
    margin-bottom: $space-large * 3 !important;
}

.u-margin-top-12 {
    margin-top: $unit * 3;
}



// Negs?

.u-margin-end-lg-neg {
    margin-right: -$unit * 3 !important;
}

.u-margin-start-lg-neg {
    margin-left: -$unit * 3 !important;
}

.u-margin-bottom-12 {
    margin-bottom: $unit * 3 !important;
}


.u-margin-top-ng {
    margin-top: -$unit*6 !important;
}
