// Padding Utilities
// ===

 $padding-sm: $unit;
 $padding-md: $unit * 2;
 $padding-lg: $unit * 3;
$padding-xlg: $unit * 4;


// Padding: All
// ---

.u-padding-all-0,
.u-padding-none {
    padding: 0 !important;
}

.u-padding-all-sm,
.u-padding-all.u--tight {
    padding: $padding-sm !important;
}

.u-padding-all-md {
    padding: $padding-md !important;
}

.u-padding-all-lg,
.u-padding-all {
    padding: $padding-lg !important;
}

.u-padding-all-xlg {
    padding: $padding-xlg !important;
}


// Padding: Sides
// ---

.u-padding-sides-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.u-padding.u--tight,
.u-padding-sides-sm {
    padding-right: $padding-sm !important;
    padding-left: $padding-sm !important;
}

.u-padding-sides-md {
    padding-right: $padding-md !important;
    padding-left: $padding-md !important;
}

.u-padding,
.u-padding-sides-lg {
    padding-right: $padding-lg !important;
    padding-left: $padding-lg !important;
}

.u-padding-sides-xlg {
    padding-right: $padding-xlg !important;
    padding-left: $padding-xlg !important;
}


// Padding: Top
// ---

.u-padding-top-0 {
    padding-top: 0 !important;
}

.u-padding-top-sm,
.u-padding-top.u--tight {
    padding-top: $padding-sm !important;
}

.u-padding-top-md {
    padding-top: $padding-md !important;
}

.u-padding-top-lg,
.u-padding-top {
    padding-top: $padding-lg !important;
}

.u-padding-top-xlg {
    padding-top: $padding-xlg !important;
}


// Padding: Right
// ---

.u-padding-right-0 {
    padding-right: 0 !important;
}

.u-padding-right-sm,
.u-padding-right.u--tight {
    padding-right: $padding-sm !important;
}

.u-padding-right-md {
    padding-right: $padding-md !important;
}

.u-padding-right-lg,
.u-padding-right {
    padding-right: $padding-lg !important;
}

.u-padding-right-xlg {
    padding-right: $padding-xlg !important;
}


// Padding: Bottom
// ---

.u-padding-bottom-0 {
    padding-bottom: 0 !important;
}

.u-padding-bottom-sm,
.u-padding-bottom.u--tight {
    padding-bottom: $unit !important;
}

.u-padding-bottom-md {
    padding-bottom: $padding-md !important;
}

.u-padding-bottom-lg,
.u-padding-bottom {
    padding-bottom: $padding-lg !important;
}

.u-padding-bottom-xlg {
    padding-bottom: $padding-xlg !important;
}


// Padding: Left
// ---

.u-padding-left-0 {
    padding-left: 0 !important;
}

.u-padding-left-sm,
.u-padding-left.u--tight {
    padding-left: $unit !important;
}

.u-padding-left-md {
    padding-left: $padding-md !important;
}

.u-padding-left-lg,
.u-padding-left {
    padding-left: $padding-lg !important;
}

.u-padding-left-xlg {
    padding-left: $padding-xlg !important;
}
