// Review Card
// ===

$review-card-vertical-padding: $unit;
$review-card-horizontal-padding: 16px;


// Review Card root
// ---

.c-review-card {
    border: 1px solid $neutral-40;

    font-size: $font-size-large-14;

    * {
        margin: 0;
    }
}

.c-review-card__content,
.c-review-card__header,
.c-review-card__footer {
    padding: $unit*3;
}

.c-review-card__content {
    .c-hide-reveal__reveal-link,
    .c-hide-reveal__hide-link {
        font-size: $font-size-large-14;
    }
}
.c-review-card__content .BVRRReviewBadge {
    float: none;

    margin-left: 0;
}

// Review Card Header Elements
// ---
//
// 1. Align the start ratings to the neighbouring elements

.c-review-card__header {
    align-items: baseline;
    border-bottom: 1px solid $neutral-40;

    background: $neutral-60;
}

.c-review-card__author {
    font-style: normal;
    word-break: break-all;
    strong {
        font-size: $font-size;
    }

    strong a {
        color: $neutral-10;
    }
}

.c-review-card__date {
    color: $neutral-30;
    font-size: $small-font-size;
}

.c-review-card__reviews {
    flex: 1 1 auto;
}


// Review Card Content Elements
// ---
//
// 1. Override the efault line-height of h1, h2, etc elements.

.c-review-card__title {
    margin-bottom: $unit;

    font-weight: bold;
    font-size: $large-font-size;
    line-height: 1.25; // 1
}

.c-review-card__description {
    line-height: 20px;
    word-break: break-word;
    p + p {
        margin-top: $unit;
    }
}


// Review Card Footer Elements
// ---

.c-review-card__footer {
    margin-top: -$unit;
    padding-top: 0;
}

.c-review-card__actions {
    margin: 0 (-($review-card-horizontal-padding));
}

.c-review-card__action {
    width: 100%;
    padding: 0;
    border: 0;

    background: none;

    color: $neutral-60;

    &:not(.c--helpful) {
        border-left: 1px solid $neutral-40;
    }

    &.c--active {
        &.c--helpful {
            color: $success-color;
        }

        &.c--not-helpful {
            color: $error-color;
        }

        &.c--offensive {
            color: $black;
        }
    }
}

.c-review-card__action-icon {
    .c--not-helpful & {
        transform: rotate(90deg) scale(1.2);
    }

    .c--offensive & {
        transform: scale(1.2);
    }
}

.c-review-card__action-label {
    display: block;
    margin-top: $sub-unit;

    font-size: $smaller-font-size;
    line-height: 1;
    white-space: nowrap;
}

.c-review-card__feedback {
    padding-top: $review-card-horizontal-padding;
    padding-bottom: $sub-unit;

    text-align: center;
}

.c-arrange__first {
    flex: 0 0 auto;
    width: 35%;
    margin-right: $unit * 3 !important;
}
.c-review-rating-bar__label {
    flex: 0 0 auto;
    width: 57px;
    margin-right: $unit * 3 !important;

    font-size: $small-font-size;
}
.BVRRRatingSliderImage {
    width: auto !important;
}

.c-slider-bar {
    position: relative;

    width: 100%;
    height: $unit * 2;

    background: $neutral-40;
}
.c-slider {
    position: absolute;

    width: $unit;
    height: $unit * 2;

    background: $black;
}
.c-review-rating-bar__overall-label {
    flex: 0 0 auto;
    width: 57px;
    margin-right: $unit !important;

    font-size: $small-font-size;
}
.c-sm-label {
    width: $unit * 7;
}
.c-bg-label {
    margin-left: $unit + $sub-unit !important;
}
