// PDP
// ===

.t-product-details-page {
    padding: $space-xlarge;

    background-color: #dadada;
    .c-video-tab center > div {
        width: 100% !important;
    }
    .c-select-wrapper {
        background: $white;
    }
    .ref2QIOnSale,
    .ref2QISwatch {
        display: inline-block;
        margin-top: $space-large;
        margin-right: $unit+2;
        margin-bottom: $space-large;
    }

    [class*="prod_detail_reg_price"],
    .celebros_list_price {
        padding-right: $unit+2;

        color: #333;
        font-weight: bold;
        font-size: $font-size;
    }

    .prod_detail_sale_price,
    .celebros_sale_price {
        padding-right: $unit+2;

        color: #ff2812;
        font-weight: bold;
        text-transform: uppercase;
    }
    [class*="prod_detail_vip_price"],
    .celebros_umap {
        color: #005cae;
        font-weight: bold;
        font-size: $font-size;
    }

    .c-back-to-top-button {
        color: #464749;
        font-weight: bold;
        text-align: center;
        img {
            position: relative;
            top: $unit;

            max-width: 17px;
        }
    }

    .pdetailsSuggestionsTitle {
        margin-bottom: $space-large;
    }

    .pdetailsSuggestionsPrice {
        a {
            color: #333;
            font-size: $font-size-large-14;
        }
    }

    .c-tool-tip {
        color: #464749;
        font-weight: bold;
        font-size: $smaller-font-size;
        vertical-align: top;
    }

    .c-shipping-info {
        display: block;
        padding: $space-xlarge;

        background: $white;
    }

    .bellows__content h2 .prod_redtext {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 25px;

        color: #ff2812;
        font-weight: 600;
    }

    .bellows__content h2 {
        color: #333;
    }

    .bellows__content a {
        color: #0052ae;
    }

    .prodSelectRefCon {
        padding: 0 $space-xlarge;
    }

    #grp_1 > h2:first-child {
        display: none;
    }

    .c-need-help-bellow {
        img {
            height: 23px;
        }
    }

    .c-need-help-heading {
        color: #078ac0;
    }

    .ref2QISize.ref2NActive,
    .ref2QIWidth.ref2NActive {
        border: 1px solid #ccc;

        color: #ccc;
    }

    .prodSelectRefCon {
        padding: 0 $space-xlarge;
    }

    .prod_errortext {
        color: #ff2812;
    }
    span.prod_select_title2 img {
        width: 17px;
    }

    .c-swatches-heading > span {
        margin-right: $unit;
    }

    .ref2QIWidth.refNotAvailable.ref2Selected {
        border: 1px solid #ccc;

        background-color: #eee88c !important;

        color: #600 !important;
    }

    .addToCartCon {
        padding: $space-xlarge;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;

        background: $white;
    }



    .ref2QIWidth.refNotAvailable.ref2Selected {
        border: 1px solid #ccc;

        background-color: #eee88c !important;

        color: #600 !important;
    }

    .c-bellows__content {
        background: $white;
    }

    .c-product-price-section {
        padding: $space-large;
        border-top: 1px solid #dedede;

        background: $white;
    }

    .c-product-title {
        position: relative;
    }

    .c-overallRating {
        position: absolute;
        top: 0;
        right: -$unit;
    }

    .prod_detail_preorder_inventory {
        display: block;
        padding-top: $space-xlarge;
        padding-bottom: $space-large;

        color: #ff3112;
    }



    .ref2QIColor {
        float: left;

        display: inline-block;
        width: 35px;
        height: 35px;
        padding: 2px;
        border: 1px solid #aaa;

        background-color: #f5f5f5;
        img {
            width: 33px;
            height: 29px;
        }
    }

    .c-you-may-like {
        background: $white;
    }
    .c-swatches-heading {
        margin: 0 $space-xlarge $space-xlarge;
        padding: $unit-10;

        background: #eee;

        color: #464749;
        font-weight: bold;
        font-size: $font-size;
    }

    #ref2QISizeCont,
    #ref2QIWidthCont {
        margin-top: -$space-xlarge;
        .ref2QISwatch {
            float: left;

            width: 30%;
            height: 35px;
            margin-top: $unit-10;
            padding: 0 5px 0 5px;

            font-family: verdana;
            font-weight: bold;
            font-size: $smaller-font-size;
            line-height: 35px;
            text-align: center;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                border: 1px solid #ccc;
            }
        }
    }

    .ref2OnSaleTitle {
        position: relative;
        top: 3px;
        clear: both;

        color: #ff3112;
        font-weight: bold;
        font-size: $smallest-font-size;
        text-align: center;
    }

    .c-product-item-id {
        margin-bottom: 20px;

        font-size: $small-font-size;
    }

    .ref2QIWidth.ref2Selected,
    .ref2QISize.ref2Selected {
        border: 1px solid #f60;

        background-color: #ff8413;

        color: $white;
    }

    #quickInfoQty {
        position: relative;
        float: left;

        width: 33%;
        height: 40px;
        padding: 0 $unit-10 0 $unit-10;
        padding-right: 5px;
        border: 1px solid #d7d7d7;

        border-radius: 3px;
        background-image: url('../img/expdate-dropdown.png');
        background-repeat: no-repeat;
        background-position: 90% center;
        background-position: right $unit-10 center;
        background-size: 12px 8px;

        font-weight: bold;
        font-size: $font-size;
    }

    .prod_add_to_cart {
        float: right;

        width: 66%;
        padding-left: $unit;
        a {
            float: right;

            width: 100%;

            border-radius: 3px;
            background: linear-gradient(to bottom, #52b21c, #4aa914);
            box-shadow: 0 1px 0 #2a8300;

            color: $white;
            font-family: verdana;
            font-weight: bold;
            font-size: $font-size;
            line-height: 38px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 2px 0 #267700;
        }

        a img {
            display: none;
        }


        &.c--disabled {
            opacity: 0.4;
        }
    }


    #selQtyTitle {
        display: none;
    }

    .mSizeChart {
        float: none !important;

        margin: $unit-10 0 0 0 !important;
        a {
            color: #ff8413;
            font-family: verdana;
            font-weight: bold;
            font-size: $font-size-small-11;
        }
    }

    #ref2QIColorCont {
        padding-bottom: $space-xlarge;
    }

    .c-product-container > div {
        display: inline-block;
        width: 100% !important;
        height: auto !important;
    }

    .c-overallRating {
        float: right;

        margin-top: $unit;

        .pr-snippet-link {
            color: #0a64a3;
            font-size: $font-size-small-11;
        }

        .pr-snippet-wrapper {
            padding: 0;
            border: 0;

            background: none;

            text-align: center;
        }

        .pr-snippet-stars {
            float: none;

            display: inline-block;
            margin: 0;
            padding: 2px 0 2px $unit;
            border: 0;

            background-color: #f2f2f2;
        }

        .pr-snippet-read-write {
            margin: 0;
            padding: 0;
            border: 0;

            background: none;

            font-size: inherit;
        }

        .pr-snippet-read-reviews {
            float: none;

            margin-top: -$unit;
            padding: 0;
            border: 0;

            .pr-snippet-link {
                display: inline-block;
                border-bottom: 1px solid #0a64a3;
            }
        }
        .pr-stars {
            float: none;

            display: inline-block;
            width: 136px;
            height: 25px;
        }

        .pr-snippet-stars.rating {
            width: 72px;
        }

        [class*='pr-stars-'] {
            background-repeat: no-repeat;
            background-position: 0 2px;
            background-size: 65px;
        }

        .pr-stars-small {
            width: 83px;
            height: 15px;

            line-height: 15px;
        }

        .pr-snippet-rating-decimal {
            display: none;
        }
        .pr-stars-0-sm {
            background-image: url('../img/0.0_star.gif');
        }
        .pr-stars-0_5-sm {
            background-image: url('../img/0.5_star.gif');
        }
        .pr-stars-1-sm {
            background-image: url('../img/1.0_star.gif');
        }
        .pr-stars-1_5-sm {
            background-image: url('../img/1.5_star.gif');
        }
        .pr-stars-2-sm {
            background-image: url('../img/2.0_star.gif');
        }
        .pr-stars-2_5-sm {
            background-image: url('../img/2.5_star.gif');
        }
        .pr-stars-3-sm {
            background-image: url('../img/3.0_star.gif');
        }
        .pr-stars-3_5-sm {
            background-image: url('../img/3.5_star.gif');
        }
        .pr-stars-4-sm {
            background-image: url('../img/4.0_star.gif');
        }
        .pr-stars-4_5-sm {
            background-image: url('../img/4.5_star.gif');
        }
        .pr-stars-5-sm {
            background-image: url('../img/5.0_star.gif');
        }
    }
}

.c-you-may-also-like {
    margin-top: 0;
    .c-title {
        padding-bottom: $unit;
        border-bottom: 1px solid $neutral-170;
    }
    .pdetailsSuggestionsCon {
        margin-top: $space-xlarge;
    }
}

#addToCartInfoMsg {
    display: flex;
}

.addToCartInfoMsgCon {
    width: 38%;
}

.prod_detail_inventory {
    display: none;
}
