// PDP
// ===

.t-product-details-page {
    padding: $space-xlarge;

    background-color: $neutral-230;

    .c-video-tab center > div {
        width: 100% !important;
    }

    .c-select-wrapper {
        background: $white;
    }

    .ref2QIOnSale,
    .ref2QISwatch {
        display: inline-block;
        margin-top: $space-large;
        margin-right: $unit+2;
        margin-bottom: $space-large;
    }

    [class*="prod_detail_reg_price"],
    .celebros_list_price {
        padding-right: $unit+2;

        color: $neutral-350;
        font-weight: bold;
        font-size: $font-size;
    }

    .prod_detail_sale_price,
    .celebros_sale_price {
        padding-right: $unit+2;

        color: $neutral-330;
        font-weight: bold;
        text-transform: uppercase;
    }

    [class*="prod_detail_vip_price"],
    .celebros_umap {
        color: $neutral-370;
        font-weight: bold;
        font-size: $font-size;
    }

    .c-back-to-top-button {
        color: $neutral-290;
        font-weight: bold;
        text-align: center;
        img {
            position: relative;
            top: $unit;

            max-width: 17px;
        }
    }

    .pdetailsSuggestionsTitle {
        margin-bottom: $space-large;
    }

    .pdetailsSuggestionsPrice {
        a {
            color: $neutral-350;
            font-size: $font-size-large-14;
        }
    }

    .c-tool-tip {
        color: $neutral-290;
        font-weight: bold;
        font-size: $smaller-font-size;
        vertical-align: top;
    }

    .c-shipping-info {
        display: block;
        padding: $space-xlarge;

        background: $white;
    }

    .bellows__content h2 .prod_redtext {
        display: inline-block;
        margin-top: $unit+1;
        margin-bottom: $unit*6;

        color: $neutral-330;
        font-weight: 600;
    }

    .bellows__content h2 {
        color: $neutral-350;
    }

    .bellows__content a {
        color: $neutral-360;
    }

    .prodSelectRefCon {
        padding: 0 $space-xlarge;
    }

    #grp_1 > h2:first-child {
        display: none;
    }

    .c-need-help-bellow {
        img {
            height: 23px;
        }
    }

    .c-need-help-heading {
        color: $neutral-340;
    }

    .ref2QISize.ref2NActive,
    .ref2QIWidth.ref2NActive {
        border: 1px solid $neutral-220;

        color: $neutral-220;
    }

    .prodSelectRefCon {
        padding: 0 $space-xlarge;
    }

    .prod_errortext {
        color: $neutral-330;
    }
    span.prod_select_title2 img {
        width: 17px;
    }

    .c-swatches-heading > span {
        margin-right: $unit;
    }

    .ref2QIWidth.refNotAvailable.ref2Selected {
        border: 1px solid $neutral-220;

        background-color: $neutral-200 !important;

        color: $neutral-210 !important;
    }

    .addToCartCon {
        padding: $space-xlarge;
        border-top: 1px solid $neutral-320;
        border-bottom: 1px solid $neutral-320;

        background: $white;
    }

    .ref2QIWidth.refNotAvailable.ref2Selected {
        border: 1px solid $neutral-220;

        background-color: $neutral-200 !important;

        color: $neutral-210 !important;
    }

    .c-bellows__content {
        background: $white;
    }

    .c-product-price-section {
        padding: $space-large;
        border-top: 1px solid $neutral-320;

        background: $white;
    }

    .c-product-title {
        position: relative;
    }

    .c-overallRating {
        position: absolute;
        top: 0;
        right: -$unit;
    }

    .prod_detail_preorder_inventory {
        display: block;
        padding-top: $space-xlarge;
        padding-bottom: $space-large;

        color: $neutral-280;
    }

    .ref2QIColor {
        float: left;

        display: inline-block;
        width: 35px;
        height: 35px;
        padding: $unit/2;
        border: 1px solid $neutral-310;

        background-color: $neutral-300;
        img {
            width: 33px;
            height: 29px;
        }
    }

    .c-swatches-heading {
        margin: 0 $space-xlarge $space-xlarge;
        padding: $unit-10;

        background: $neutral-50;

        color: $neutral-290;
        font-weight: bold;
        font-size: $font-size;
    }

    #ref2QISizeCont,
    #ref2QIWidthCont {
        margin-top: -$space-xlarge;
        .ref2QISwatch {
            float: left;

            width: 30%;
            height: 35px;
            margin-top: $unit-10;
            padding: 0 $unit+1 0 $unit+1;

            font-family: verdana;
            font-weight: bold;
            font-size: $smaller-font-size;
            line-height: 35px;
            text-align: center;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                border: 1px solid $neutral-220;
            }
        }
    }

    .c-slideshow .s7flyoutSwatchActiveBorder {
        border-width: 2px;
        border-style: solid;
        border-color: #0097c1;
        opacity: 0.9;
    }   

    #ref2QISizeCont + .prodSelectRefCon {
        font-size: $font-size-large-14;
        img {
           padding-left: $unit*3 !important;

       }
    }
    .ref2OnSaleTitle {
        position: relative;
        top: $unit;
        clear: both;

        color: $neutral-280;
        font-weight: bold;
        font-size: $smallest-font-size;
        text-align: center;
    }

    .c-product-item-id {
        margin-bottom: $unit*5;

        font-size: $small-font-size;
    }

    .ref2QIWidth.ref2Selected,
    .ref2QISize.ref2Selected {
        border: 1px solid $neutral-270;

        background-color: $neutral-240;

        color: $white;
    }

    #quickInfoQty {
        position: relative;
        float: left;

        width: 33%;
        height: 40px;
        padding: 0 $unit-10 0 $unit-10;
        padding-right: $unit+1;
        border: 1px solid #d7d7d7;

        border-radius: 3px;
        background-image: url('../img/expdate-dropdown.png');
        background-repeat: no-repeat;
        background-position: 90% center;
        background-position: right $unit-10 center;
        background-size: $unit*3 $unit*2;

        font-weight: bold;
        font-size: $font-size;
    }

    .prod_add_to_cart {
        float: right;

        width: 66%;
        padding-left: $unit;

        a {
            float: right;

            width: 100%;

            border-radius: 3px;
            background: linear-gradient(to bottom, #52b21c, #4aa914);
            box-shadow: 0 1px 0 $neutral-260;

            color: $white;
            font-family: verdana;
            font-weight: bold;
            font-size: $font-size;
            line-height: 38px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 2px 0 $neutral-250;
        }

        a img {
            display: none;
        }


        &.c--disabled {
            opacity: 0.4;
        }
    }


    #selQtyTitle {
        display: none;
    }

    .mSizeChart {
        float: none !important;

        margin: $unit-10 0 0 0 !important;
        a {
            color: $neutral-240;
            font-family: verdana;
            font-weight: bold;
            font-size: $font-size-small-11;
        }
    }

    #ref2QIColorCont {
        padding-bottom: $space-xlarge;
    }

    .ref2QISize.refNotAvailable.ref2Selected {
        border: 1px solid $neutral-220;

        background-color: $neutral-200 !important;

        color: $neutral-210 !important;
    }

    .c-product-container > div {
        display: inline-block;
        width: 100% !important;
        height: auto !important;
    }

    .c-you-may-also-like {
        margin-top: 0;
        .c-title {
            padding-bottom: $unit;
            border-bottom: 1px solid $neutral-170;
        }
        .pdetailsSuggestionsCon {
            margin-top: $space-xlarge;
        }
    }
}

#addToCartInfoMsg {
    display: flex;
}

.addToCartInfoMsgCon {
    width: 38%;
}

.prod_detail_inventory {
    display: none;
}
