// PDP
// ===

.t-product-details-page {
    padding: $space-xlarge 0;

    .gwt-product-detail-top-price {
        color: $black;
    }

    .c-review-head {
        display: inline;
    }

    h1 {
        margin-bottom: $unit*2;
    }
    .gwt-product-detail-widget-col3-row {
        position: relative;
    }

    .gwt-product-detail-widget {
        div#linkDiv_1_849923 {
            margin-top: 20px;

            text-align: center;
        }
    }

    .gwt-product-detail-widget-personalization-chosen-values {
        margin-top: $space-large;

        color: $neutral-20;
    }

    .c-breadcrumb {
        display: inline-block;
        margin-top: 0;
        padding-bottom: $unit*2;
        padding-left: $space-xlarge;
    }

    .c-sort-by__label {
        position: absolute;
        top: 10px;
        left: 12px;
        z-index: 1;

        width: 60px;

        color: $neutral-10;
        font-family: $lato-bold;

        pointer-events: none;
    }

    // TRAV-406 - in order to avoid the shifting text
    .gwt-personalize-edit-remove-link-panel-style {
        display: flex;

        .gwt-personalize-link-separator-style {
            position: relative;
            top: $unit*2;
        }

        .gwt-personalize-link-style {
            display: block;
            flex: 1;
            width: 100%;

            text-align: center;
        }
    }

    .c-swatch-selection-section {
        // position: relative;
        .gwt-personalize-link-style {
            margin-top: $unit*2;

            color: $brand-color !important;
            font-size: $font-size;
            text-decoration: none !important;
        }
    }

    .c-category-product__price-now {
        padding-bottom: $unit;

        color: $red;
    }

    .c-category-product__price-was {
        color: $neutral-20;
        font-size: $small-font-size;
        text-decoration: line-through;
    }

    .BVRRSortSelectWidget {
        position: relative;

        display: block;
        margin-top: $space-xlarge * 2;
    }
    .BVRRDisplayContentSelect {
        text-indent: 70px;
    }

    .c-price-short-description {
        margin-top: -$unit*2;
        margin-bottom: $unit*3;

        color: $neutral-130;
        font-size: 14px;
    }

    .c-list-bullets {
        li {
            margin-bottom: $unit;
            margin-left: 24px;

            list-style-type: disc;

            b {
                font-weight: normal;
            }

            a {
                padding-left: 0;
            }
        }
    }

    .c-pdp-price-star-description {
        overflow: hidden;

        .js-pdp-price {
            display: inline-block;
        }
        .gwt-was-price-holder {
            display: block;

            color: #bbb;
            font-size: 13px;
            text-decoration: line-through;
        }

        .gwt-now-price-holder {
            display: block;

            color: $neutral-130;
            font-family: $lato_bold;
        }

        .c-view-reviews {
            display: flex;
            align-items: center;
        }
    }

    .c-bellows__content {
        padding: $unit*2 $unit*3;

        background: $white;

        p {
            margin-bottom: $unit*2;
        }

        b {
            display: inline-block;
            margin-bottom: $unit*2;
        }
    }

    .c-product-detail-bellow {
        .c-review-container {
            #js-write-review {
                color: $brand-color;
                font-family: $font-family;
            }
        }
        .c-bellows {
            margin-top: $unit * 5;
            margin-bottom: $unit * 6;
        }
    }

    .c-bellows__list {
        a {
            &:active {
                color: $black;
            }
            &:focus {
                color: $black;
            }
        }
    }

    .c-scroller__content {
        .c-slideshow {
            margin-left: $space-xlarge;
        }
    }

    .c-field.c--error input {
        box-shadow: none;
    }

    .t-clp-sale__related-search {
        margin-right: 0;
        margin-left: 0;
    }

    .c-search-suggestions__header {
        margin-bottom: $unit*2;
    }

    .c-product-info {
        padding: 0 $space-xlarge;

        .c-title {
            padding-bottom: $unit;
            padding-left: $unit;

            color: $black;
            font-size: $font-size-large-32;
            line-height: 32px;
        }
    }

    // Stepper changes

    .c-star-ratings__container {
        margin-right: -2px;
    }

    .c-product-part-number {
        position: relative;
        top: -2px;

        color: $neutral-50;
        font-family: $default-sans;
        font-size: $font-size;
    }


    .c-stepper-quantity-label {
        margin-top: -3px;
    }

    .c-price {
        display: inline-flex;
        margin-top: 0;

        font-family: $default-sans;
    }

    .c-star-ratings-container.c--center {
        float: right;

        display: inline-block;
        padding-bottom: 4px;
    }


    .c-star-ratings-container {
        .c-star-ratings {
            display: inline-flex;
            margin-bottom: $unit;
        }

        .c-star-ratings__reviews {
            position: relative;
            top: $sub-unit/2;

            color: $black;
            font-weight: bold;
        }

        .BVRRRatingSummary {
            float: right;

            margin: 0;
            padding: 0;

            line-height: 21px;

            img {
                height: 15px;
            }
        }

        .BVRRRatingSummaryLink {
            float: right !important;

            margin: 0 !important;
        }
        .BVRRRatingSummaryLink:nth-child(2) a {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            // height: 100%;

            opacity: 0;
        }

        .c-review-this {
            float: right;

            color: $brand-color;
            font-size: $small-font-size;
        }
    }


    .c-tag + .c-star-ratings {
        margin-left: $sub-unit;
    }

    .c-bellows__info {
        .c-price__discounted,
        .c-price__original {
            display: block;
        }

        .c-price__discounted {
            color: $neutral-70; // 1
        }
    }
}

// Review Card
// ---

.t-product-details__review-card {
    padding-top: $space-large * 2;
    border-top: $border;
    .c-review__date {
        flex: 0 0 auto;

        text-align: right;
    }

    .c-review__attic {
        justify-content: space-between;
        padding-bottom: $space-large;

        h4 {
            padding-right: $sub-unit;
        }

        .c-review__date:only-child {
            text-align: left;
        }
    }
}

// Check Desktop
// ---

.t-product-details__check-desktop {
    display: flex;
    align-items: center;

    .c-icon {
        margin-right: $space-xlarge;

        fill: $neutral-10;
    }
}


// PDP Quantity Stepper
// ---

.t-product-details__quantity {
    display: flex;
    align-items: center;

    .t-product-details__quantity * {
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    .c-aux-text {
        margin-left: auto;
    }

    label {
        display: block;
        flex: 0 0 auto;
        width: 20%;
        margin: 0;
        margin-right: 12px;

        font-weight: 600;
        font-size: 15px;
    }

    .c-stepper {
        flex: 0 0 auto;
    }

    .c-stepper__count {
        display: none;
    }

    .gwt-bdp-signle-product-item-number {
        flex: 1 1 auto;
        padding-left: $unit*3;

        color: $disabled-input-color;
        font-size: $small-font-size;
        word-break: break-all;
        text-align: right;
    }
}

.c-pdp-price-section {
    position: relative;
}

.c-pdp-price-total {
    position: absolute;
    right: 1px;
    bottom: $unit*3;

    width: 90px;

    color: $black;
    font-weight: bold;
    text-align: center;
}

.c-price-text {
    border: 1px solid $neutral-30;

    background: $neutral-30;
}


// Quantity selection section in Main PDP

.c-product-qty-and-price {
    position: relative;

    select {
        width: 36px;
        padding-left: $space-large;
        border: 1px solid $neutral-50;

        box-shadow: none;
        outline: 0;

        font-weight: bold;
        text-align-last: center;
    }

    .js-dropdown {
        flex: 0 0 auto;
        width: auto;

        background: none;

        text-align-last: center;
    }
    .c-stepper {
        margin: 0 $unit/2;

        select {
            width: 44px;
            height: 40px;
            padding: 0;

            text-align-last: center;
        }

        .c-stepper__action-decrease,
        .c-stepper__action-increase {
            display: flex;
            justify-content: center;
            width: 40px;
        }

        button {
            min-height: 40px;
            border: 1px solid $neutral-50;
        }

        .c-stepper__action-increase {
            border-left: 0;
        }

        .c-stepper__action-decrease {
            border-right: 0;
        }
    }
}

.c-availability-info,
.gwt-product-detail-inventory-lowquantityrow {
    margin-top: $unit*2;
}

.c-availability-info {
    margin-top: 20px;
}
.gwt-product-detail-inventory-lowquantityrow {
    color: $error-color;
    font-size: $small-font-size;
    text-align: center;
}

.c-availability-info {
    color: $neutral-20;
    font-size: 13px;
    text-align: center;
}


.c-social-link-share {
    text-align: center;
    button {
        display: inline-block;
        padding: $unit 7%;
        border: 0;

        background: 0;

        &:focus {
            outline: 0;
        }

        img {
            width: 18px;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        .c-icon {
            width: 22px;
            height: 22px;
        }
    }

    [class="socialIconHouzz"] img {
        height: 22px;
    }

    &:focus {
        outline: 0;
    }
}

// Suggested products
// ---

.t-product-details__suggested-products {
    .c-slideshow__slide {
        width: 132px;
        margin: 0 $unit;
        margin-top: 0;

        img {
            height: 132px;
        }
    }

    .c-price {
        display: block;

        font-size: $small-font-size;
    }

    .c-price__original {
        display: block;

        color: $neutral-30;
        font-size: $small-font-size;
    }

    .c-price__discounted {
        display: block;

        color: $neutral-120;
        font-weight: normal;
        font-size: $font-size-large-14;
    }


    .c-suggested-products-title {
        font-size: $larger-font-size;
    }

    .c-slideshow {
        .c-product-tile__title {
            padding-left: 0;

            font-size: $font-size;
            line-height: 20px;
        }
    }
}

.c-magnifik-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 200%;
    max-width: none;
    max-height: none;
}

.c-magnifik {
    position: relative;
    .c-loading {
        position: absolute;
        top: 50%;
        left: 50%;

        margin-top: -7px;

        text-align: initial;
    }
}

.BVRRDisplayContentSort {
    position: inherit !important;
}

.BVRRLabel,
.BVRRBuyAgainRecommend,
.BVRRBuyAgainTotal {
    font-weight: normal !important;
}

.c-overall-header-rating {
    float: right;
    .c-star-ratings__container {
        position: relative !important;
        right: $unit*3;

        margin-right: 0;
    }
}

.c-reviews-bellows {
    margin-top: 0 !important;
    .c-bellows__header {
        // padding-right: 0;
    }

    .c-star-ratings__container {
        right: $unit*3;

        margin-right: 0;
    }

    .c-star-ratings {
        position: relative;

        display: inline-block;
        margin-bottom: 0;
    }
    .c-review-container {
        align-items: baseline;
    }
    .c-rating-container {
        display: flex;
        align-items: center;
    }
    .c-rating-count {
        display: inline-block;
        margin-left: $unit;
    }
}

.c-matrix-detail-radio-panel {
    margin-top: $unit*4;
    .c-matrix-detail-radio-button {
        display: inline-block;
        input[type="radio"] {
            display: none;
        }
        td {
            border-bottom: 0;
        }

        .c-matrix-detail-label {
            display: inline;
            padding-right: 3px;

            color: $neutral-20;
            font-size: $small-font-size;
        }

        table {
            margin: 0;
        }

        .c-radio-name-label {
            padding-top: $unit;

            text-align: center;
        }

        .c-radio-number-panel {
            padding-bottom: $unit;

            text-align: center;
        }

        .c-product-detail-radio-button {
            display: none;
        }
    }
}

.BVRRRelevancySortHelpContainer {
    display: none !important;
}

.t-product-details__product-review-count {
    font-size: $larger-font-size;
}

.c-overall-rating {
    padding-top: $space-xlarge;
    padding-bottom: $space-xlarge * 2;

    .BVRRBuyAgainPercentage {
        margin: 0 $unit;
    }
}

// "For-now" Crapfix for "centering" the quantity select
// Quantity needs refactor to actually USE the component
.ios {
    .t-product-details {
        .c-stepper select {
            text-indent: 15px;
        }
    }
}

.c-write-first-review {
    color: $brand-color;
    font-family: $font-family;
    font-size: $font-size;
}
.c-inner-container:last-child {
    @include clearfix;
}
.c-delete-personalization-pinny__body {
    padding: $unit $space-xlarge 0;

    tr,
    td {
        display: block;
        border: none;
    }
    .okCancelPanel {
        display: flex;

        button:first-child {
            margin-right: $space-large * 2;
        }
    }
    .gwt-HTML {
        padding-top: $unit;
        padding-bottom: $space-large;
    }
}

.c-cart-modal {
    .gwt_personalization_wrapper {
        font-size: $small-font-size !important;
    }
}

#gwt-personalization-modal-V2 {
    position: static !important;

    .c-personalization-content {
        .gwt-accordion-tab-header button,
        .gwt-tab-header-selected-option > .gwt-HTML,
        .gwt-personalization-textbox-label,
        .gwt-personalization-swatch-picker-label {
            display: none;
        }
    }
}

.c-avg-customer-rating {
    border: $border-neutral-40;
}

.c-slider-bar-container {
    width: 70%;
}
.c-review-rating__label {
    flex: 0 0 auto;
    width: 57px;
    margin-right: $unit * 10 !important;
}
