// Account Order Details page
// ===

.t-account-order-details {

    .c-ledger {
        padding: 0 $space-xlarge;
        &__description {
            font-family: $lato_bold;
            display: inline-block;
            width: 40%;
        }
        &__number {
            display: inline-block;
        }
        &__entry {
            margin-bottom: $unit;
        }
    }
    .c-title {
        line-height: $unit * 6;
        margin: $space-xlarge;
    }
    .c-order-details {
        &__index {
            float: left;
            margin: 0 $space-xlarge 0 0;
            color: $neutral-20;
        }
        &__product-title {
            text-transform: capitalize;
        }
        &__shipping {
            padding: $space-xlarge;
            background-color: $neutral-60;
            margin-top: $space-xlarge;
            h4 {
                font-family: $lato_bold;
                line-height: $line-height;
                margin-bottom: $space-large;
            }
        }
        &__item {
            padding: $space-xlarge 0 $unit * 6 0;
            margin: 0 $space-xlarge;
            border-bottom: 1px solid $neutral-30;
            &:after {
                display: table;
                content: '';
                clear: both;
            }
            &-detail {
                float: left;
                width: 70%;
                a, p:not(.c-order-details__product-title) {
                    font-size: $small-font-size;
                    color: $neutral-20;
                    line-height: $unit * 4 + 2;
                }
            }
        }
        &__price {
            float: right;
        }
        &__bill {
            margin-bottom: $unit;
            &:after {
                display: table;
                content: '';
                clear: both;
            }
            &-section {
                margin: $unit * 6 $space-xlarge;
            }
            b {
                font-family: $lato_bold;
            }
        }
        &__total {
            float: right;
            width: 30%;
            text-align: right;
        }
        &__label {
            text-align: right;
        }
    }
    .c-breadcrumb {
        margin-left: $space-xlarge;
        &__link {
            line-height: $unit * 6;
            font-size: $large-font-size;
        }
    }
}
